.icon
    position: fixed
    top: 40px
    left: 40px
    font-size: 20px
    cursor: pointer
    color: #fff
    transition: .3s
    z-index: 100

    &:hover
        color: #363f54

.open
    left: 340px
