.quiz
    width: 100%
    display: flex
    flex-grow: 1
    justify-content: center
    padding-top: 7%
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%)

.title
    text-align: center
    font-size: 24px
    padding: 0 20px 0 20px
    margin: 40px 0 40px 0

.wrapper
    width: 600px

.empty
    display: block
    text-align: center
